

page-login {
    .login-content{
        background-image: url('../../assets/imgs/background2.jpg');
        background-repeat :no-repeat;
        background-size:cover;
       }
      

            .log{
                background-color: rgba(0.0,0.0,0.0,0.4);
                border-radius: 10px;
                margin-top: 20%;
                margin-left: 20px;
                margin-right: 20px;
                padding:20px;
              box-shadow: none;
            }

        


.name{
    background-color: transparent;
    color:pink;
}
.email{
    background-color: transparent;
    color:pink;
}
.password{
    background-color: transparent;
    color:pink;

}

}

